Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

==>MongoDB, the most popular NoSQL database, is an open-source document-oriented database. The term ‘NoSQL’ means ‘non-relational’. It means that MongoDB isn’t based on the table-like relational database structure but provides an altogether different mechanism for storage and retrieval of data. This format of storage is called BSON ( similar to JSON format). 

Where do we use MongoDB?

MongoDB is preferred over RDBMS in the following scenarios:

Big Data: If you have huge amount of data to be stored in tables, think of MongoDB before RDBMS databases. MongoDB has built-in solution for partitioning and sharding your database.
Unstable Schema: Adding a new column in RDBMS is hard whereas MongoDB is schema-less. Adding a new field does not effect old documents and will be very easy.
Distributed data Since multiple copies of data are stored across different servers, recovery of data is instant and safe even if there is a hardware failure.

2)State and Explain the features of MongoDB>

==>Features of MongoDB:

Document Oriented: MongoDB stores the main subject in the minimal number of documents and not by breaking it up into multiple relational structures like RDBMS. For example, it stores all the information of a computer in a single document called Computer and not in distinct relational structures like CPU, RAM, Hard disk, etc.
    
Indexing: Without indexing, a database would have to scan every document of a collection to select those that match the query which would be inefficient. So, for efficient searching Indexing is a must and MongoDB uses it to process huge volumes of data in very less time.
    
Scalability: MongoDB scales horizontally using sharding (partitioning data across various servers). Data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. Also, new machines can be added to a running database.
    
Replication and High Availability: MongoDB increases the data availability with multiple copies of data on different servers. By providing redundancy, it protects the database from hardware failures. If one server goes down, the data can be retrieved easily from other active servers which also had the data stored on them.
    
Aggregation: Aggregation operations process data records and return the computed results. It is similar to the GROUPBY clause in SQL. A few aggregation expressions are sum, avg, min, max, etc

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [5]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.ln0bt5m.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [6]:
pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in c:\users\akash vishwakarma\appdata\roaming\python\python310\site-packages (4.4.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\akash vishwakarma\appdata\roaming\python\python310\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
db

Database(MongoClient(host=['ac-2blvghl-shard-00-00.ln0bt5m.mongodb.net:27017', 'ac-2blvghl-shard-00-02.ln0bt5m.mongodb.net:27017', 'ac-2blvghl-shard-00-01.ln0bt5m.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-bpwwyw-shard-0', tls=True), 'test')

In [8]:
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.ln0bt5m.mongodb.net/?retryWrites=true&w=majority")

In [9]:
db = client['pwskills']

In [10]:
data = {"name" : "sudh" , 
        "class" :"data science masters " ,
        "time" : "flexi"}

In [11]:
coll_pwskills = db["my_record"]

In [12]:
coll_pwskills.insert_one(data)

In [13]:
data1 = {"mail_id" : "sudh@gmail.com",
         "phone_number " : 2323424324,
         "addr" : "bangalore"
}

In [14]:
coll_pwskills.insert_one(data1)

In [15]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [16]:
coll_pwskills.insert_many(data2)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [18]:
data1 = {"mail_id" : "sudh@gmail.com",
         "phone_number " : 2323424324,
         "addr" : "bangalore"
}

In [19]:
coll_pwskills.insert_one(data1)

In [21]:
coll_pwskills.find_one(data1)

{'_id': ObjectId('64a2a674bb5a7d50de03a276'),
 'mail_id': 'sudh@gmail.com',
 'phone_number ': 2323424324,
 'addr': 'bangalore'}

In [22]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [25]:
coll_pwskills.insert_many(data2)

In [31]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('63eef93f07ba7bd48aa09a98'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63eef9ea07ba7bd48aa09a99'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63eefaf107ba7bd48aa09a9a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63eefaf107ba7bd48aa09a9b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63eefaf107ba7bd48aa09a9c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63eefaf107ba7bd48aa09a9d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63eefaf107ba7bd48aa09a9e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63eefaf107ba7bd48aa09a9f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63eefaf107ba7bd48aa09aa0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63eefaf107ba7bd48aa09aa1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63eefaf107ba7bd48aa09aa2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63eefaf107ba7bd48aa09aa3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63eefaf107ba7bd48aa09aa4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63eefaf107ba7bd48aa09aa5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63eefb4f07ba7bd48aa09aa6'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63eefbcd07ba7bd48aa09aa7'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63eefbcd07ba7bd48aa09aa8'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63eefbcd07ba7bd48aa09aa9'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}
{'_id': ObjectId('63efa823151c9aa35108a9a0'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63efa825151c9aa35108a9a1'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63efa826151c9aa35108a9a2'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63efa826151c9aa35108a9a3'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63efa826151c9aa35108a9a4'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63efa826151c9aa35108a9a5'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63efa826151c9aa35108a9a6'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63efa826151c9aa35108a9a7'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63efa826151c9aa35108a9a8'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63efa826151c9aa35108a9a9'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63efa826151c9aa35108a9aa'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63efa826151c9aa35108a9ab'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63efa826151c9aa35108a9ac'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63efa826151c9aa35108a9ad'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63efa87b151c9aa35108a9ae'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63efa87b151c9aa35108a9af'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63efa87b151c9aa35108a9b0'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('63f11bfb8649d8e298e8a3bb'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63f1bbd854e72d0219632f2b'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63f1e0c3d4746bd3178bea51'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63f1e352d4746bd3178bea54'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63f219b0157321a2d0ea5922'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63f228c10c1ef6f66ee61929'), 'name': 'sudh', 'class': 'data science'}
{'_id': ObjectId('63f229920c1ef6f66ee6192c'), 'name': 'sudh', 'class': 'data science'}
{'_id': ObjectId('63f22b050c1ef6f66ee6192d'), 'name': 'vivaan', 'class': 'dj'}
{'_id': ObjectId('63f24082f3e7d2c661ce8af6'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63f73125ad5da94c92e6e390'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63f73125ad5da94c92e6e391'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63f73125ad5da94c92e6e392'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f73125ad5da94c92e6e393'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f73125ad5da94c92e6e394'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f73125ad5da94c92e6e395'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f73125ad5da94c92e6e396'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f73125ad5da94c92e6e397'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f73125ad5da94c92e6e398'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f73125ad5da94c92e6e399'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f73125ad5da94c92e6e39a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f73125ad5da94c92e6e39b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f73125ad5da94c92e6e39c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f73125ad5da94c92e6e39d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f73126ad5da94c92e6e39e'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63f73126ad5da94c92e6e39f'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63f73126ad5da94c92e6e3a0'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63f73126ad5da94c92e6e3a1'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('63f78b20d47e85d802d98632'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63f78b6ad47e85d802d98633'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63f78be4d47e85d802d98635'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63f78d6ad47e85d802d98638'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63f89ab4b1396e6c1133caaf'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63fa0e94b2c721bf6efdda96'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63fa0ea5b2c721bf6efdda99'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63faeca84574536e298e39fa'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63faeca84574536e298e39fb'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63faeca94574536e298e39fc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63faeca94574536e298e39fd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63faeca94574536e298e39fe'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63faeca94574536e298e39ff'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63faeca94574536e298e3a00'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63faeca94574536e298e3a01'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63faeca94574536e298e3a02'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63faeca94574536e298e3a03'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63faeca94574536e298e3a04'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63faeca94574536e298e3a05'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63faeca94574536e298e3a06'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63faeca94574536e298e3a07'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63faeca94574536e298e3a08'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63faecaa4574536e298e3a09'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63faecaa4574536e298e3a0a'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63faecaa4574536e298e3a0b'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('63fcfabf2c4e9464785d0e1d'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63fcfac12c4e9464785d0e1e'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63fd94806d5eaa3f4006f6ed'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63fe1575de70ada3f9e79e56'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63fe1578de70ada3f9e79e57'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63fe18b5bc35651097c6cbee'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63fe18d4bc35651097c6cbef'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63fe1a095b66dc1735c23f49'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63fe1c2ede70ada3f9e79e5b'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63fe1c2fde70ada3f9e79e5c'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63fe1c30de70ada3f9e79e5d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fe1c30de70ada3f9e79e5e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fe1c30de70ada3f9e79e5f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fe1c30de70ada3f9e79e60'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fe1c30de70ada3f9e79e61'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fe1c30de70ada3f9e79e62'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fe1c30de70ada3f9e79e63'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fe1c30de70ada3f9e79e64'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fe1c30de70ada3f9e79e65'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fe1c30de70ada3f9e79e66'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fe1c30de70ada3f9e79e67'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fe1c30de70ada3f9e79e68'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fe1c31de70ada3f9e79e69'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63fe1c31de70ada3f9e79e6a'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63fe1c31de70ada3f9e79e6b'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63fe1c31de70ada3f9e79e6c'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('63fe30be26f680286160954f'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63fe30df26f6802861609550'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63fe46d3b4c677803d9e0cb1'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63fe470ab4c677803d9e0cb2'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63fe470bb4c677803d9e0cb7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fe470bb4c677803d9e0cb5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fe470bb4c677803d9e0cb4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fe470bb4c677803d9e0cbc'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fe470bb4c677803d9e0cb6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fe470bb4c677803d9e0cba'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fe470bb4c677803d9e0cbb'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fe470bb4c677803d9e0cb9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fe470bb4c677803d9e0cb3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fe470bb4c677803d9e0cb8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fe470bb4c677803d9e0cbe'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fe470bb4c677803d9e0cbd'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fe470eb4c677803d9e0cbf'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63fe471bb4c677803d9e0cc0'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63fe471bb4c677803d9e0cc1'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63fe471bb4c677803d9e0cc2'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('63fe6db4b3f601731a69880e'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63ffa52dd4b7ab8a8c6a2b00'), 'name': 'afroz', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('63ffa55ed4b7ab8a8c6a2b04'), 'name': 'afroz', 'class': 'data science master', 'time': 'flexi'}
{'_id': ObjectId('6400011be05d36980f278184'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('64070e117643fb9a1ddb53a9'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('64070f4c7643fb9a1ddb53ab'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('640c573b0968b38a529ffbe1'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('640d5c51072d72a3e29c170a'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('640d5c53072d72a3e29c170b'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('640dc3e0589f64fa58c21a59'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('640dd6a18749e84a21f549ee'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('6412ea8b168a7c1373e38597'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('6412ea8b168a7c1373e38598'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('6412ea8b168a7c1373e38599'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6412ea8b168a7c1373e3859a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6412ea8b168a7c1373e3859b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6412ea8b168a7c1373e3859c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6412ea8b168a7c1373e3859d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6412ea8b168a7c1373e3859e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6412ea8b168a7c1373e3859f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6412ea8b168a7c1373e385a0'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6412ea8b168a7c1373e385a1'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6412ea8b168a7c1373e385a2'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6412ea8b168a7c1373e385a3'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6412ea8b168a7c1373e385a4'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6412ea8c168a7c1373e385a5'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6412ea8c168a7c1373e385a6'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6412ea8c168a7c1373e385a7'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6412ea8c168a7c1373e385a8'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('6415865953fa44e1cd65c118'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('64158b7d39701b70bbab4f73'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('64158b8a39701b70bbab4f76'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('64158b8c39701b70bbab4f77'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('641bee842ce913af49e83e80'), 'name': 'shalu', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('641beed32ce913af49e83e81'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('641c277e7d7bfa8ad47d956c'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('641c286e7d7bfa8ad47d956d'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('641c291a7d7bfa8ad47d9574'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('641c2b7b7d7bfa8ad47d9577'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('641c2ba67d7bfa8ad47d957b'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('641d3226bb6e47b98872ad30'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('641d322ebb6e47b98872ad31'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('641d3233bb6e47b98872ad32'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('641d3233bb6e47b98872ad33'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('641d3233bb6e47b98872ad34'), 'name': 'Michael', 'address': 'Valley 345'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [33]:
#CODE
for i in coll_pwskills.find({"_id" :{"$gte" : '434'}}):
    print(i)

{'_id': '44155', 'companyName': 'iN', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}
{'_id': '51354', 'companyName': 'iN', 'Faculty': 'PQR'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

==>The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set

In [ ]:
 #Example: Return all the documents in descending order of the age:
db.student.find().sort({age:-1})

Q7. Explain why delete_one(), delete_many(), and drop() is used.

1)delete_one():
    
    In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted. If there are multiple documents matching the filter query, only the first appeared document would be deleted.

2)Delete_many():

Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

3)drop():
    
    drop() method and drop command create an invalidate for any Change Streams opened on dropped collection